@page "ContactInfo"
@model Ibas.MenuApp.Pages.ContactInfoModel
@{
    ViewData["Title"] = "ContactInfo";
}

<h1>Kantinens Kontaktinfo</h1>

<p>Her kan du finde kantinens kontaktinfo.</p>

<p>Karen Thisted</p>
<p>Adresse: Kantinens adresse 1, 8434 Aarhus N</p>
<p>Email: kt@ibas.dk</p>
<p>Telefon: +45 12345678</p>

